

   <div class="bg-image">
    <div class="bg-white shadow p-3 mb-5 bg-body rounded d-flex justify-content-center" style="width: 30rem;">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <img class="mb-3" src="assets/img/navlogo.png" alt="" style="width: 7rem;">
            </div>
            <div class="col-12">
                <h2 class="text-primary text-center fw-bold mb-3">Recycle</h2>
            </div>
            <div class="col-12">
                <p class="text-center mb-3 text-secondary">An Email has been sent to your Email Address with instructions how to reset your password. If your don't receive it within a few minutes, Please check that you use the same email address and try again. <br> Thank you.</p>
            </div>

            <!-- login button  -->
            <div class="col-12 mb-4">
                    <a href="/login" class="btn btn-primary" style="width: 100%;">Login</a>
            </div>
        </div>
    </div>
   </div>
    
