
  <body class="bg-image">
    <div>
      <div
        class="form-conainer bg-white shadow p-3 mb-5 bg-body rounded"
        style="width: 25rem"
      >
        <form action="" method="post">
          <h3 class="d-flex justify-content-center mt-5 mb-5 fw-bold">
            Reset Password
          </h3>

          <div class="mb-4">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Email"
              aria-describedby="emailHelp"
              required
            />
          </div>

          <a
            href="confirmation.html"
            class="btn btn-primary"
            style="width: 100%"
            >SEND</a
          >
        </form>
      </div>

      <!-- copyright section -->
      <div>
        <p>
          Copyright @2022 all rigts reserved by:
          <a href="" style="text-decoration: none">
            <strong class="text-primary">Recycle Ltd.</strong>
          </a>
        </p>
      </div>
    </div>
>
