<!-- navbar start  -->
<%- include('navbar'); -%>
<!-- navbar end  -->

  <div class="category-container">
    <div class="container mt-5 pt-5">
        <h3 class="category-title">Rafi Bin Wores</h3>
    </div>
      
        <div class="container d-flex gap-5 pt-3 flex-c">
          <div class="account-sidebar">
              
            <div class="sidebar-profile-menu" >
              <h6 class="mb-3 border-bottom border-dark">Account</h6>
                <div class="sidebar-category-link ">
                    <a class="d-flex ms-2 mb-3" style="font-size: 15px;" href="/userProfile">Profile</a>
                    <a class="d-flex ms-2 mb-3" style="font-size: 15px;" href="/userAds">My Ads</a>
                    <a class="d-flex ms-2 " style="font-size: 15px;" href="#" onclick="UserLogout()">Logout</a>
                </div>
            </div>
            
          </div>
        
            <div class="row">
              <div class="col-12 mb-4 text-center">
                <h5>My Ads</h5>
              </div>

                <div class="col-6 col-md-4 col-lg-3">
                  <div class="card border-primary h-80 rounded mx-auto d-block shadow p-3 mb-5 bg-body rounded" style="max-width: 15rem; max-height: 18rem;">
                    <img src="/img/pexels-rahul-716398.jpg" class="card-img-top rounded img-size" alt="...">
                    <div class="card-body">
                      <h6 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">MacBook</h6>
                      <p class="text-primary">৳ 99,999</p>
                      <p class="d-flex justify-content-between text-secondary pt-2"><small >Dhaka</small> <small>1 hour</small></p>
                    </div>
                  </div>
                </div>

            </div>
        </div>
      </div> 
    </div>



    <!-- footer start  -->
    <%- include('footer'); -%>